{% extends 'base.html' %}


{% block conteudo %}
<main>
    <section class="section container">
      <h2 class="section-title">Últimos Cursos</h2>
      <div class="courses-grid">

        <div class="card">
          <div class="card-img"></div>
          <div class="card-body">
            <span class="badge">Informática</span>
            <h3>Introdução à Programação</h3>
            <p>Aprenda os fundamentos da programação com Python em 40 horas.</p>
            <a href="curso_detalhes.html" class="btn btn-primary">Ver Detalhes</a>
          </div>
        </div>

        <div class="card">
          <div class="card-img"></div>
          <div class="card-body">
            <span class="badge">Design</span>
            <h3>Design Gráfico Básico</h3>
            <p>Desenvolva habilidades em ferramentas de design para criação visual.</p>
            <a href="curso_detalhes.html" class="btn btn-primary">Ver Detalhes</a>
          </div>
        </div>

        <div class="card">
          <div class="card-img"></div>
          <div class="card-body">
            <span class="badge">Gestão</span>
            <h3>Empreendedorismo Digital</h3>
            <p>Entenda como criar e gerir negócios no ambiente digital atual.</p>
            <a href="curso_detalhes.html" class="btn btn-primary">Ver Detalhes</a>
          </div>
        </div>

      </div>
    </section>
  </main>
{% endblock %}